
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>@Syaeful Annas <a href="https://syaefuldev.vercell.app"><center>Syn Coder</center></a></strong>
    
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->